html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(2, 16, 28);
}

canvas {
  display: block;
  
}

h1{
  color: whitesmoke;
  text-align: center;

}

#sketch-holder {
  display: flex;
  justify-content: center;   
  align-items: center;        
}

.h3{
  color: whitesmoke;
  text-align: center;

}